.App {
    display: flex;
  }
  
  .menu {
    height: 100%;
    width: 250px;
    position: relative;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .menu-title {
/*    
    text-align: center; */
  }
  
  .menu-list {
    list-style-type: none;
    padding: 0;
  }
  
  .menu-item {
    padding: 8px 16px;
    /* text-align: center; */
  }
  
  .menu-item a {
    
    text-decoration: none;
    display: block;
  }
  
  .menu-item a:hover {
    background-color: 'white';
  }
  
  .sub-menu {
    list-style-type: none;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: 'white';
  }
  
  .sub-item {
    padding: 6px;
    /* text-align: center; */
    width: 200px;
  }
  
  .sub-item a {
    color: #140f0f;
    text-decoration: none;
    display: block;
  }
  
  .sub-item a:hover {
    background-color: #e4dfdf;
  }
  
  .content {
    margin-left: 250px; /* Same as the width of the menu */
    /* padding: 20px; */
    width: calc(100% - 250px); /* Adjust the width to fill the remaining space */
  }
  